
span{
  animation: drop 1s ease-in infinite;
  display: inline-block;
  background-color: #85D7FF;
  height: 18px;
  width: 5px;
  border-radius: 80%;
}

span:nth-child(2){
  animation-delay: 0.4s;
}

span:nth-child(3){
  animation-delay: 0.1s;
}

span:nth-child(4){
  animation-delay: 0.7s;
}

@keyframes drop{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(80px);
    opacity: 0;
  }
}


#box{
  cursor: pointer;
  position: absolute;
}

#xmas{
  position: relative;
  left: 80px;
  top: 80px;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  transition: all 1s;
}

#ball{
  position: relative;
  left: -50px;
  transform: scale(0);
  height: 50px;
  width: 50px;
}

#box:hover #xmas{
  transform: scale(1.2,1.2);
  opacity: 0.5;
  -o-transition:       all 0.2s linear;
  -webkit-transition:  all 0.2s linear;
  -moz-transition:     all 0.2s linear;
  transition:          all 0.2s linear;
}

#box:hover #ball{
  transform: scale(1);
  -o-transition:       all 0.2s linear 0.5s;
  -webkit-transition:  all 0.2s linear 0.5s;
  -moz-transition:     all 0.2s linear 0.5s;
  transition:          all 0.2s linear 0.5s;
}



#hello{
  position: absolute;
  top:350px;
  left:85px;
}

input{
  display:none;
}

label{
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  background-color: #FF8E8E;
}

label::before{
  position: absolute;
  content:'';
  display: inline-block;
  right: 40px;
  width: 34px;
  height: 34px;
  border: 3px solid #FF8E8E;
  border-color: #FF8E8E;
  border-radius: 50%;
  background-color: white;
  -o-transition:       right 0.5s linear;
  -webkit-transition:  right 0.5s linear;
  -moz-transition:     right 0.5s linear;
  transition:          right 0.5s linear;
}

input:checked ~ label::before{
  position: absolute;
  right: 0px;
}

input:checked ~ label {
  border-color: #FFBABA;
  background-color: #FFBABA;
}
